@import "tailwindcss";

@layer utilities {
    :root {
        --color-background-body: #e0f2fe;
        --color-background: #ffffff;
        --color-primary: #4b5563;
        --color-accent: #0284c7;
        --color-destructive: #ff4444;
        --color-border: #d1d5db;

        --padding-sm: 0.5rem;
        --padding-md: 1rem;
        --padding-lg: 2rem;

        --gap-sm: 0.5rem;
        --gap-md: 1rem;
        --gap-lg: 2rem;

        --margin-sm: 0.5rem;
        --margin-md: 1rem;
        --margin-lg: 2rem;

        --z-dropdown-menu: 1;
        --z-dialog: 2;
    }
}

@layer base {
    body {
        /* Для браузеров, не поддерживающих динамические вьюпорты */
        height: 100vh;
        /* Устанавливаем минимальную высоту в динамический вьюпорт, */
        /* чтобы контент не скрывался за адресной строкой в Safari */
        height: 100dvh;

        @apply bg-body p-md md:p-lg text-primary flex w-screen items-center justify-center antialiased md:gap-1;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-[var(--color-border)];
    }

    button {
        @apply cursor-pointer;
    }
}

@theme {
    --color-body: var(--color-background-body);
    --color-background: var(--color-background);
    --color-primary: var(--color-primary);
    --color-accent: var(--color-accent);
    --color-destructive: var(--color-destructive);
    --color-border: var(--color-border);

    --margin-sm: var(--margin-sm);
    --margin-md: var(--margin-md);
    --margin-lg: var(--margin-lg);

    --padding-sm: var(--padding-sm);
    --padding-md: var(--padding-md);
    --padding-lg: var(--padding-lg);

    --gap-sm: var(--gap-sm);
    --gap-md: var(--gap-md);
    --gap-lg: var(--gap-lg);
}
