@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background-body: #e0f2fe;
    --color-background: #ffffff;
    --color-primary: #4b5563;
    --color-accent: #0284c7;
    --color-border: #d1d5db;

    --padding-sm: 0.25rem;
    --padding-md: 0.5rem;
    --padding-lg: 1rem;

    --gap-sm: 0.25rem;
    --gap-md: 0.5rem;
}

@layer base {
    body {
        /* for any browsers not supporting dynamic viewport */
        min-height: 100vh;
        /* setting smallest possible viewport of Safari */
        /* so the content doesn't hide behind the address bar*/
        min-height: 100dvh;

        @apply bg-body flex w-screen items-center justify-center text-primary antialiased;
    }
}
